{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<section class="part2_home">
<div class="ui menu">
  
  <a href="default" class="item">
   Home
  </a>
  <a href="favorite" class="item">
    Favorite
  </a>
  <a href="api" class="item active">
    Space API
  </a>
  <a> {% if app.user %}
        <div class="mb-3">
            <span style="color:white">{{ app.user.username }}</span> <a href="{{ path('app_logout') }}"><span style="color:red;">Logout</span></a>
        </div>
    {% endif %}
    </a>
</div>

  <h1 class="hero_title">Here you can have a randomn article by clicking the button bellow</h1>
  <p class="hero_p">Go check it out</p>
</section>
<section class="section_2_api">



 <div class="parent_button"><button id="button_1" class="ui inverted primary button">Random article</button>
 <!--   Add data from API to DB via button   !-->
 <button id="button_2" class="ui inverted primary button">Add to favorite</button></div>






    <p class="title" id="article_full"></p>

</section>

{% endblock %}