{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<section class="hero">

<div class="ui menu">
  
    <a href="default" class="item active">
    Home
    </a>
    <a href="index2" class="item">
    Article binder
    </a>
     <a href="api" class="item">
    Space API
    </a>
    <a> {% if app.user %}
        <div class="mb-3">
            <span style="color:white">{{ app.user.username }}</span> <a href="{{ path('app_logout') }}"><span style="color:red;">Logout</span></a>
        </div>
    {% endif %}
    </a>
   
  </div>
  

  <h1 class="hero_title">Hi everyone, welcome to my Space API website</h1>
  <p class="hero_p">Feel free to look around</p>

</section>





{% endblock %}
